<div class="container">
  <h6>Search for a name</h6>
    <input type="text" placeholder="Search..." (input)="onSearch($event)">
    <div *ngIf="searchLoading" id="searchLoading">Searching...</div>
    <div *ngIf="error" id="error" style="color: red;">{{error}}</div>
    <div *ngIf="!searchLoading && !error">
      <div id="results">{{ searchResults }}</div>
    </div>
   <div class="user">
    <div *ngIf="combinedLoading" id="combinedLoading">Loading...</div>
    <div *ngIf="!combinedLoading && combinedData">
      <p>name: {{ combinedData.name }}</p>
      <p>email: {{ combinedData.email }}</p>
      <ul>
        <li *ngFor="let post of combinedData.posts">{{ post.title }}</li>
      </ul>
    </div>
   </div>
  </div>
  